<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <center>
        <img class="suwikilogo" src="https://avatars.githubusercontent.com/u/96416159?s=200&v=4" style="display:block; " alt="SUWIKILOGO">
        <div class="container">
            안녕하세요. 수원대학교 강의평가 플랫폼 SUWIKI 입니다.
            <b>재학생 인증 메일 전송해드립니다.</b><br>
            <a href="${redirectUrl}">클릭하여 이메일 인증하기</a>
            <p>
                <br>위 링크를 클릭하시면 정상적으로 서비스 이용이 가능합니다.
                <br>인증이 정상적으로 수행되지 않을 시, uswsuwiki@gmail.com 으로 문의 부탁드립니다.
            </p>
            <p>감사합니다.</p>
        </div>
    </center>
</body>
</html>
