<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <center>
        <img class="suwikilogo" src="https://avatars.githubusercontent.com/u/96416159?s=200&v=4" style="display:block; " alt="SUWIKILOGO">
        <div class="container">
            <p>안녕하세요. 수원대학교 강의평가 플랫폼 SUWIKI 입니다.</p>
            <p>
                본 메일은 개인정보보호법 제 39조의 8(개인정보 이용 내역의 통지)에 따라, 이메일 수신동의 여부와 관계 없이 연 1회 전체 회원에게 발송됩니다.<br>
                자세한 내역은 개인정보처리방침을 통해 확인하실 수 있습니다.
            </p>
            <p><a href="https://sites.google.com/view/suwiki-policy-privacy">SUWIKI 개인정보 처리 방침 상세</a></p>
            <p>감사합니다.</p>
        </div>
    </center>
</body>
</html>
