name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 11
        
    - name: make application.yml
      if: contains(github.ref, 'main') # branch가 main 일 때, 나머지는 위와 동일
      run: |
          cd ./src/main/resources
          touch ./application.yml
          echo "${{ secrets.APPLICATION_YML }}" > ./application.yml
      shell: bash
    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    
    - name: Build with Gradle
      run: ./gradlew build

        
    # 전송할 파일을 담을 디렉토리 생성
    - name: Make Directory for deliver
      run: mkdir deploy

    # Jar 파일 Copy
    - name: Copy Jar
      run: cp ./build/libs/*.jar ./deploy/
    
    - name: Where am I
      run: pwd
      
    # 압축파일 형태로 전달
    - name: Make zip file
      run: zip -r -qq -j ./Backend-Remaster.zip ./deploy
      
    - name: .zip
      run: find . -name "*.zip" 

    # S3 Bucket으로 copy
    - name: Deliver to AWS S3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: | 
        aws s3 cp \
        --region ap-northeast-2 \
        --acl private \ ./Backend-Remaster.zip s3://suwiki-backend/
